












<div fxLayout="row" fxLayout.xs="column" style="margin-top: 20%"><!--contain all  details div-->

  <div fxLayout="column" ><!--div contail schools and its detail-->

     <div fxLayoutAlign="center"><!-- div of school background image-->

          <mat-card class="example-card"*ngIf="post" >

  
  
          <img mat-card-image src="../../assets/download.jpeg" style="height: 350px;width: 300">
      
          <mat-card-content >
          <mat-card-header fxLayoutAlign=center >
         <mat-card-title > {{post.name}}</mat-card-title>
    
         </mat-card-header>
         <p>{{post.description}}</p> <br>
         </mat-card-content>
        <mat-divider></mat-divider>
  
  
        </mat-card>

     </div><!-- end div of  school background image-->

     <div fxLayout="row" style="margin-top: 40%"  fxLayout.xs="column"><!--div contail school detail-->
         <div><!--div contain details of one school-->
          <p>Lorem ipsum dolor sit amet consectetur adipisicing  <br>
            elit. Culpa fuga reiciendis eos blanditiis aperiam m <br>
            olestias, excepturi iste quibusdam ipsum voluptate, <br>
             beatae officia molestiae. Consequatur numquam repellat  <br>
            temporibus, provident quisquam dolorum <br></p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing  <br>
              elit. Culpa fuga reiciendis eos blanditiis aperiam m <br>
              olestias, excepturi iste quibusdam ipsum voluptate, <br>
               beatae officia molestiae. Consequatur numquam repellat  <br>
              temporibus, provident quisquam dolorum <br></p>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing  <br>
                elit. Culpa fuga reiciendis eos blanditiis aperiam m <br>
                olestias, excepturi iste quibusdam ipsum voluptate, <br>
                 beatae officia molestiae. Consequatur numquam repellat  <br>
                temporibus, provident quisquam dolorum <br></p>

         </div> <!-- end of div contain details of one school-->
        

         <div><!--div contain school academic programs and facult-->

          <p>Lorem ipsum dolor sit amet consectetur adipisicing  <br>
            elit. Culpa fuga reiciendis eos blanditiis aperiam m <br>
            olestias, excepturi iste quibusdam ipsum voluptate, <br>
             beatae officia molestiae. Consequatur numquam repellat  <br>
            temporibus, provident quisquam dolorum <br></p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing  <br>
              elit. Culpa fuga reiciendis eos blanditiis aperiam m <br>
              olestias, excepturi iste quibusdam ipsum voluptate, <br>
               beatae officia molestiae. Consequatur numquam repellat  <br>
              temporibus, provident quisquam dolorum <br></p>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing  <br>
                elit. Culpa fuga reiciendis eos blanditiis aperiam m <br>
                olestias, excepturi iste quibusdam ipsum voluptate, <br>
                 beatae officia molestiae. Consequatur numquam repellat  <br>
                temporibus, provident quisquam dolorum <br></p>
         </div><!--end   of  div contain school academic programs and facult-->

         <div><!--div contain  school curuculumn-->

          <p>Lorem ipsum dolor sit amet consectetur adipisicing  <br>
            elit. Culpa fuga reiciendis eos blanditiis aperiam m <br>
            olestias, excepturi iste quibusdam ipsum voluptate, <br>
             beatae officia molestiae. Consequatur numquam repellat  <br>
            temporibus, provident quisquam dolorum <br></p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing  <br>
              elit. Culpa fuga reiciendis eos blanditiis aperiam m <br>
              olestias, excepturi iste quibusdam ipsum voluptate, <br>
               beatae officia molestiae. Consequatur numquam repellat  <br>
              temporibus, provident quisquam dolorum <br></p>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing  <br>
                elit. Culpa fuga reiciendis eos blanditiis aperiam m <br>
                olestias, excepturi iste quibusdam ipsum voluptate, <br>
                 beatae officia molestiae. Consequatur numquam repellat  <br>
                temporibus, provident quisquam dolorum <br></p>
    </div><!-- end of div contain  school curuculumn-->
   


</div><!-- end of div contail school detail-->

  </div> <!-- end of div contail schools and its detail-->


  
  
  <div style="margin-top: 20%" ><!-- div contain all online courses -->
  
    <p>Lorem ipsum dolor sit amet consectetur adipisicing  <br>
      elit. Culpa fuga reiciendis eos blanditiis aperiam m <br>
      olestias, excepturi iste quibusdam ipsum voluptate, <br>
       beatae officia molestiae. Consequatur numquam repellat  <br>
      temporibus, provident quisquam dolorum <br></p>
      <mat-divider></mat-divider>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing  <br>
        elit. Culpa fuga reiciendis eos blanditiis aperiam m <br>
        olestias, excepturi iste quibusdam ipsum voluptate, <br>
         beatae officia molestiae. Consequatur numquam repellat  <br>
        temporibus, provident quisquam dolorum <br></p>
        <mat-divider></mat-divider>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing  <br>
          elit. Culpa fuga reiciendis eos blanditiis aperiam m <br>
          olestias, excepturi iste quibusdam ipsum voluptate, <br>
           beatae officia molestiae. Consequatur numquam repellat  <br>
          temporibus, provident quisquam dolorum <br></p>
          <mat-divider></mat-divider>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing  <br>
            elit. Culpa fuga reiciendis eos blanditiis aperiam m <br>
            olestias, excepturi iste quibusdam ipsum voluptate, <br>
             beatae officia molestiae. Consequatur numquam repellat  <br>
            temporibus, provident quisquam dolorum <br></p>
            <mat-divider></mat-divider>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing  <br>
              elit. Culpa fuga reiciendis eos blanditiis aperiam m <br>
              olestias, excepturi iste quibusdam ipsum voluptate, <br>
               beatae officia molestiae. Consequatur numquam repellat  <br>
              temporibus, provident quisquam dolorum <br></p>
            
              
  </div> <!--  end of div contain all online courses -->
  
  
  
  
  
  
  </div><!--end of contain all  div-->