
  

 

  <div>    
 <footer>

      
    <div fxLayout="column"  fxLayout.xs="column" style="width: 120%" >
       
        <mat-toolbar>  
                <mat-toolbar-row  id="mat-tool" fxLayoutAlign="center">
                  <div fxLayout="column" fxLayout.xs="column" style="margin-top: 40px">

                        <div  class="newletter">
                                        <p style="color:white;font-size: 30px;text-align:center">NewLetters</p>
                        </div>

                        <div class="sub">
                                        <span style="color:white;opacity: 0.5;">Subscribe and get the latest news and useful <br>
                                                  <span style="text-align: end"> tips, advice and best offer.</span> </span>
                        </div>

                        <div class="subscribe">
                                
                                        <mat-form-field style="color: white;width: 200px;text-align: center">
                                        <input type="email" id="search" placeholder="Email Address"> 
                                          <button id="button" type="submit"> Subscribe</button>
                                        
                                        </mat-form-field>
                                       
                        </div>

                        
                         
                         
                  </div>


                </mat-toolbar-row>
              
            <mat-toolbar-row  style="background-color: #22314f;; height: 735px" fxLayoutAlign="center" fxLayoutAlign.xs="center" >


            <div fxLayout="row"  fxLayout.md="row" fxLayout.sm="column" fxLayout.xs="column"  fxLayoutGap="20px" style="margin-right: 50px;margin-top:10% ">

                    

                   <div>
                      <div class="mat-body-1" style="font-size: 20px;line-height: 30px; color: #b5b8be;">
                        <h1 style="color: white;font-size: 30px">Contact Us</h1> <br>
                        <p>Email: <br> contact@corelabsplus.com <br>
                            Phone: +250788438131 <br>
                            Kigali, Rwanda <br>
                            Westerwelle Startup Haus, 4th floor <br> </p>
                         
                          </div>

                   </div>

                     
                   <div fxLayout="row" fxLayout.x="row"  style="color: #b5b8be;" fxLayoutGap="-20%">
                    
                     
                  <div style="line-height: 30px">  
                          <div fxLayout="column"  > <h1 style="color: white;font-size: 30px" >Quicks Links</h1> </div>  <br> 
                      
                      <a class="links" >About Us</a><br>
                      <a class="links">Contact Us</a><br>
                      <a class="links">Schools</a><br>
                      <a class="links">Location</a><br>
                      
                    </div>
                    <br>

                     <div style="line-height: 27px">
                       <br>
                       <br>
                        <a class="links">Courses</a><br>
                        <a class="links">Past Papers</a><br>
                        <a class="links">Blog</a><br>
                        <a class="links">FAQs</a><br>
                        <a class="links">How to <br> Apply</a><br>

                     </div>
                 </div>
  
       
                 <div fxLayout="column" fxLayout.xs="row"    class="mobile" fxLayout.xs="column" style="margin-top: 250px;margin-right: 100px"  > 
             
                    <h1 style="font-size: 30px;color: white" fxHide.xs="true">Mobile</h1>
                    <br>
                    <br>
                    <div > 
                      <a > <img src="../../assets/background/appstore.jpeg" style="width: 170px;height: 50px;border-radius: 10px;" alt=""> </a>
                   </div >
                    <div style="width: 20px"> 
                      <a > <img src="../../assets/background/playstore.png" style="width: 170px;height: 50px;border-radius: 10px" alt=""></a>
                     </div>
                    
                  </div>


               
           </div>


           



           










                </mat-toolbar-row>





            
              </mat-toolbar>
              <mat-toolbar-row  fxLayoutAlign="center"  style="background-color: #22314f;height: 60px;opacity: 1;" >

                
                        
                  <div fxLayout="column" style="margin-top: 10px" fxLayoutAlign="center"  fxLayoutAlign.xs="center">
  
                          <div fxLayout="row" fxLayout.xs="row" fxLayoutAlign="center" fxLayoutGap="20%" fxLayoutGap.xs="7%"  style="color:white;cursor: pointer;">
      
      
                                  <div style="font-size:15px">  <a >Terms of Use</a> </div>
                                  <div style="font-size: 15px">  <a >Privacy Policy</a>  </div> 
                                 
                                  
                                       
                                     </div>
                                     
                                     <div>
                                         
                                                 <p style="color: white;opacity:1" > <span style=" border-right: 1px solid white;opacity: 0.8;font-size: 15px"> 
                                                         © 2017 - 2019 All rights reserved   Powered by  </span ><span style="color: white;cursor: pointer;font-size: 20px"><a >  Nexin Ltd</a></span></p> 
                                              
                                         
                                     </div>
                  </div>
      
                          
      
                         
                              
      
                             
                              
      
            
                     
      
                  </mat-toolbar-row>
       



              
               
  </div>

                
          
           
   
  




 </footer>         
            
</div>          
                
                
   