
<div class="allcontact"  fxLayout="row" fxLayout.xs="column">






                <div fxFlexOffset="10%"  style="margin-top:10% "  fxLayout="row" fxLayout.xs="column" fxLayoutGap="15%" fxLayoutGap.xs="5%" >
       

        
    

                                <div fxLayout="column"  >
                        
                        
                                        <div fxLayout="row" fxLayout.xs="row" >
                                                <div  fxLayoutAlign="center"  fxLayoutAlign.xs="center" >
                                      <i class="fa fa-phone" style="font-size: 50px;color: #498aa4;"></i>

                                                </div>
                                                   <div>
                                                                <mat-list>
                                             
                                                
                                                                                <mat-list-item> <h5>Kigali,Rwanda</h5> </mat-list-item>
                                                                                <mat-list-item> <p style="margin-top:-3%">Westerwelle Startup Haus, 4th floor</p> </mat-list-item>
                                                                                
                                                                               </mat-list>

                                                </div>
                                                
                                        </div>
                        
                                        <mat-divider ></mat-divider>
                                        <div fxLayout="row" fxLayout.xs="row">
                                                    <div  fxLayoutAlign="center"  fxLayoutAlign.xs="center">
                                                     <i class="fa fa-home"  style="font-size: 40px;color: #498aa4"></i>
                                                            </div>
                                                               <div>
                                                                <mat-list>
                                               
                                                
                                                                                <mat-list-item> <h5> +250788438131</h5> </mat-list-item>
                                                                                <mat-list-item> <p style="margin-top:-3%">Mon to Fri 8am to 8pm</p> </mat-list-item>
                                                                                
                                                                              </mat-list>
                                                </div>
                                               
                                        </div>
                                        <mat-divider ></mat-divider>
                                        <div fxLayout=row fxLayout.xs="row">
                                                <div fxLayoutAlign="center"  fxLayoutAlign.xs="center" >
                                                                <i class="fa fa-envelope"  style="font-size: 40px;color: #498aa4"></i>

                                                </div>
                                                <div>
                                                                <mat-list>
                                               
                                                
                                                                                <mat-list-item> <h5>contact@corelabsplus.coma</h5> </mat-list-item>
                                                                                <mat-list-item> <p style="margin-top:-3%">Send us your query anytime!</p> </mat-list-item>
                                                                                
                                                                               </mat-list>
                                                </div>
                                               
                                        </div>
                                        
                        
                                </div>
                        
                        
                                       
                              
                                
                                       
                              
                                
                                       
                               
                        
                        
                        
                        
                        
                        <div class="card" fxFlex fxLayout="column" fxLayoutAlign="end" style="margin-right: 200px " fxLayout.xs="column" >
                                <mat-card style="width: 700px;height: 350px;margin-right: 50px;margin-top: 5%" >
                                       
                                       
                                        <mat-card-content class="content" fxLayout="column "  fxLayout.xs="column"fxFlex="80%" fxFlex.xs="80%" fxFlexOffset="10%" style="margin-top: -10px" >
                                                       
                                            <div>
                                                        <mat-card-header fxLayoutAlign="center" fxLayoutAlign.xs="center">
                                        
                                                                        <mat-card-title style="color: #22314f;"   id="register"> Contact Us</mat-card-title>
                                                                      
                                                                      </mat-card-header>
                                            </div>
                                           
                                               
                                     
                        
                                             <div fxLayout="row" fxLayout.xs="column"   fxLayoutGap="1%" fxLayoutGap.xs="1%" fxLayoutAlign="center"   fxLayoutAlign.xs="center"  >
                                                        <div>
                                                                        <mat-form-field fxFlex  fxFlex.xs="100%" floatLabel="auto"   appearance="outline">
                                                                    
                                                                                <mat-label style="color:  #22314f" >Name</mat-label>
                                                                                    <input    matInput  type="text">
                                                                                    
                                                                                </mat-form-field>
                                                                     </div>
                                                                               
                                                                           
                                                                     <div>
                                                                        <mat-form-field fxFlex floatLabel="never"   appearance="outline">
                                                                    
                                                                                <mat-label style="color:  #22314f;"><i  style="font-size: 20px" class="fa fa-envelope"></i>  email</mat-label>
                                                                                    <input   matInput  type="email">
                                                                                  
                                                                                </mat-form-field>
                                                                     </div>
                        
                        
                                                                     
                                                                     
                                             </div>
                        
                        
                                           
                                                       
                                            
                                           <div fxLayout="column" fxLayout.xs="column" fxLayoutGap="1%"  fxLayoutGap.xs="1%"  >
                        
                                                        <div  fxLayoutAlign="center">
                                                 <textarea cols="100" rows="5" style="color:  #22314f;" > Leave Message...</textarea>
                                        
                                                             </div>
                        
                                                                                   
                                                   <div  fxLayoutAlign="end"  fxLayoutAlign.xs="center" fxLayoutGap.xs="1%"  >
                                                   <mat-card-actions>
                                                                        
                                            <button  style="background-color: #22314f;color:white " mat-raised-button>Send Message</button>
                                                 </mat-card-actions>
                                                  </div>
                                                           
                                           </div> 
                           
                                
                                                                        
                                                  
                                        </mat-card-content>
                        
                        
                        
                                      
                        
                                      
                                      </mat-card>
                             </div>
                        

</div>


