


    
 
            
         
             
   
         
              
       
             <!-- <app-navigation></app-navigation>
                
                <app-nav   ></app-nav> 
                        
               -->
            
                     
                       
             <main id="content" >
                    
                  
             

               

                        <router-outlet  ></router-outlet>
                        
                                <!--<app-footer  ></app-footer> -->
                     
                          
                    
                            
                            </main>
                   
                
                
               
            
        





  
 


        

 
























































































































































































































































































































































































































































































































































































































































































































































































































































































<!--Text-->
<!--<div class="mat-display-4">lol</div>
<div class="mat-display-3">lol</div>
<div class="mat-display-2">lol</div>
<div class="mat-display-1">lol</div>
<div class="mat-display-0" color="warn">lol</div>-->
<!--<div class="mat-headline">Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias perferendis laudantium maxime  <br> at voluptates! Ratione culpa vel excepturi, vitae dignissimos officia nisi consequuntur dolorum voluptate incidunt vero molestias ducimus dolorem!</div>
<div class="mat-title">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem voluptatem aliquid odio corporis hic aperiam praesentium nostrum nulla sunt, provident molestias? Placeat tenetur esse eaque <br> consectetur provident! Repellendus, voluptates quos?</div>
<div class="mat-subheading-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis eligendi perferendis repellendus. Suscipit, aperiam numquam! Voluptate reprehenderit rem culpa eos minus expedita nisi ab recusandae <br> possimus sequi, dolore labore id.</div>
<div class="mat-subheading-1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto aperiam ea minima animi odio doloribus maxime corporis, debitis ex facere eveniet pariatur enim  <br> explicabo officia dicta quis necessitatibus hic non.</div>

-->
<!--<div class="mat-body-1">this is one of you  Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius adipisci exercitationem expedita molestias facilis et at architecto iste ad, iusto dolorum rerum distinctios <span style="color: red">eveniet eni</span> m minima, culpa, sit error magnam.</div>
<div class="mat-body-2">this is one of you Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam, nesciunt, natus consequatur exercitationem tenetur velit ea doloribus aliquam fugiat, harum molestias tempore autem facere! Fugiat nemo hic molestias atque rerum!</div>
<div class="mat-caption">this is one of you Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic laborum voluptatum aliquid iste enim pariatur. Provident esse, totam blanditiis eligendi, officia error rem quibusdam nemo dolor ex id dignissimos quidem!</div>

-->


<!--<div class="mat-title">TO days news  this is first</div>
<div class="mat-body2"> Lorem ipsum dolor sit amet consectetur adipisicing elit. <br> Repellendus quo, facilis eaque adipisci sint veniam, perferendis suscipit sunt eligendi nisi atque cupiditate consequatur <br> corporis similique doloribus. Deleniti atque aspernatur labore.
Lorem ipsum dolor, sit amet consectetur <br> adipisicing elit. Doloribus magni temporibus, architecto quod amet aut sed! Quis sequi accusamus quas fugiat nam harumbr <br> expedita dolores aperiam itaque ullam, numquam quo.</div> 
-->

<!--Butoon-->
<!--
<div>
    <button mat-button disableRipple>more</button>
    <button mat-raised-button disableRipple>favorite</button>
    <button mat-flat-button disableRipple disabled>more</button>
    <button mat-stroked-button disableRipple>more</button>
    <button mat-fab color="primary" disableRipple>fab</button>
    <button mat-icon-button  color="accent" disableRipple>icon</button>
    <button mat-mini-fab color="warn " disableRipple text-transform: uppercase><a href="#">hello</a></button>
</div>-->

<!--BUTTON TOGGLE-->
<!--<div>
    <mat-button-toggle #toggleButton   checked>Toggle</mat-button-toggle>
    {{toggleButton.checked}}
   
</div>
<div>
    <mat-button-toggle-group #toggleGroup="matButtonToggleGroup" multiple>

        <mat-button-toggle value="left"  aria-label="Text align left" value="angular" >angular</mat-button-toggle>
        <mat-button-toggle value="react">react</mat-button-toggle>
        <mat-button-toggle value="vue" >vue</mat-button-toggle>
    </mat-button-toggle-group>
    {{toggleGroup.value}}
</div>
-->

<!--ICON-->
<!--<div>
        <mat-button-toggle value="react">  <mat-icon>dock</mat-icon></mat-button-toggle>
  
</div>-->
<!--Badges-->
<!--<div>
    <span matBadge={{number}}>messages</span>
</div>

<div>
        <span matBadge={{number}} matBadgePosition="below before" matBadgeSize="large">messages</span>
    </div>

    <div>
            <span matBadge={{number}} matBadgeSize="small">messages</span>
        </div>

        <div>
                <span matBadge={{number}} matBadgePosition="above after " matBadgeSize="medium" ><mat-icon style="color: red"> announcement</mat-icon></span>
            </div>        


            <div>
                    <span matBadge={{number}} matBadgeColor="warn">messages</span>
                </div>

                <div>
                        <span matBadge={{number}} matBadgeColor="primary" [matBadgeHidden]="notifications==0">messages</span>
                    </div>

                    <div>
                            <span matBadge={{number}} matBadgeColor="accent" matBadgeOverlap="true">messages</span>
                        </div>
                        

-->


<!--Progress Spinner-->
<!--<input type="text" ><br>
<input type="text" ><br>

<button type="submit" (click)="loadData()">login</button><br>
<mat-spinner *ngIf=showSpinner color="accent"></mat-spinner>-->





<!--SideNav-->

      <!-- dashboard progress(toolbar &sidenavbar)...-->
      

   
      
<!--<mat-toolbar  class="navbar">
        <div style="width: 200px;height: 150px;margin-bottom: -150px"> <mat-icon (click)="opened=!opened" >reorder</mat-icon> </div>
       
           
                   
                    
           
    </mat-toolbar> 
 <mat-sidenav-container> 
                <mat-sidenav  mode="side" [(opened)]="opened" >
                       
                        <div>
                                <mat-nav-list>
                                    <div  >
                                            <a  mat-list-item href="#"><mat-icon  style="color:red;width: 100px"  >home </mat-icon></a>
                                    </div>
                                    
                                    <a mat-list-item href="#">Admin</a>
                                    <mat-divider ></mat-divider>
                                    <a mat-list-item>Users</a>
                                    <mat-divider ></mat-divider>
                                    <a mat-list-item href="#">Schools</a>
                                    <mat-divider ></mat-divider>
                                    <a mat-list-item href="#">Logout</a>
                                    
                                </mat-nav-list>
                            </div>
                               

                
                    
                </mat-sidenav>
               
                <mat-sidenav-content>

                    <mat-tab-group style="margin-right:  -100px">
                        <mat-tab label="Users">
                            <input type="text" placeholder="username"><br>
                            <input type="password" placeholder="password"><br>
                            <button>LOgin</button>



                        </mat-tab>  
                        <mat-tab label="Schools">

                                <mat-accordion multi="true" hideToggle>

 
                                        <mat-expansion-panel>
                                            <mat-expansion-panel-header>
                                               <mat-panel-title>
                                                   angular
                                               </mat-panel-title>
                                              
                                               <mat-panel-description>
                                                       Type your name and age
                                                      
                                                     </mat-panel-description>
                                                     <mat-icon>home</mat-icon>
                                            </mat-expansion-panel-header>
                   
                                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit eius, nulla consequuntur quas consectetur, quibusdam sit explicabo voluptate distinctio animi cum nam, rerum et blanditiis aut magni totam libero aspernatur.</p>
                                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit eius, nulla consequuntur quas consectetur, quibusdam sit explicabo voluptate distinctio animi cum nam, rerum et blanditiis aut magni totam libero aspernatur.</p>
                                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit eius, nulla consequuntur quas consectetur, quibusdam sit explicabo voluptate distinctio animi cum nam, rerum et blanditiis aut magni totam libero aspernatur.</p>
                                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit eius, nulla consequuntur quas consectetur, quibusdam sit explicabo voluptate distinctio animi cum nam, rerum et blanditiis aut magni totam libero aspernatur.</p>
                                            
                                            <mat-action-row>
                                                <button mat-button>MOre</button>
                                                <button mat-button>MOre</button>
                                            </mat-action-row>
                   
                   
                                            
                                        </mat-expansion-panel>
                                          
                                        <mat-expansion-panel>
                                               <mat-expansion-panel-header>
                                                  <mat-panel-title>
                                                      angular
                                                  </mat-panel-title>
                                                 
                                                  <mat-panel-description>
                                                          Type your name and age
                                                         
                                                        </mat-panel-description>
                                                        <mat-icon>account_circle</mat-icon>
                                               </mat-expansion-panel-header>
                      
                                               <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit eius, nulla consequuntur quas consectetur, quibusdam sit explicabo voluptate distinctio animi cum nam, rerum et blanditiis aut magni totam libero aspernatur.</p>
                                               <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit eius, nulla consequuntur quas consectetur, quibusdam sit explicabo voluptate distinctio animi cum nam, rerum et blanditiis aut magni totam libero aspernatur.</p>
                                               <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit eius, nulla consequuntur quas consectetur, quibusdam sit explicabo voluptate distinctio animi cum nam, rerum et blanditiis aut magni totam libero aspernatur.</p>
                                               <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit eius, nulla consequuntur quas consectetur, quibusdam sit explicabo voluptate distinctio animi cum nam, rerum et blanditiis aut magni totam libero aspernatur.</p>
                                               
                                               <mat-action-row>
                                                   <button mat-button>MOre</button>
                                                   <button mat-button>MOre</button>
                                               </mat-action-row>
                      
                      
                                               
                                           </mat-expansion-panel>
                                       </mat-accordion>
                        </mat-tab>  
                        <mat-tab label="Admin"> vue content</mat-tab>  
                      
                    </mat-tab-group>

                </mat-sidenav-content>
            </mat-sidenav-container>-->

      


<!--Grid List-->
           
<!--Card&Expansion-->
<!--

<mat-accordion multi="true" hideToggle>

 
                     <mat-expansion-panel>
                         <mat-expansion-panel-header>
                            <mat-panel-title>
                                angular
                            </mat-panel-title>
                           
                            <mat-panel-description>
                                    Type your name and age
                                   
                                  </mat-panel-description>
                                  <mat-icon>home</mat-icon>
                         </mat-expansion-panel-header>

                         <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit eius, nulla consequuntur quas consectetur, quibusdam sit explicabo voluptate distinctio animi cum nam, rerum et blanditiis aut magni totam libero aspernatur.</p>
                         <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit eius, nulla consequuntur quas consectetur, quibusdam sit explicabo voluptate distinctio animi cum nam, rerum et blanditiis aut magni totam libero aspernatur.</p>
                         <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit eius, nulla consequuntur quas consectetur, quibusdam sit explicabo voluptate distinctio animi cum nam, rerum et blanditiis aut magni totam libero aspernatur.</p>
                         <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit eius, nulla consequuntur quas consectetur, quibusdam sit explicabo voluptate distinctio animi cum nam, rerum et blanditiis aut magni totam libero aspernatur.</p>
                         
                         <mat-action-row>
                             <button mat-button>MOre</button>
                             <button mat-button>MOre</button>
                         </mat-action-row>


                         
                     </mat-expansion-panel>
                       
                     <mat-expansion-panel>
                            <mat-expansion-panel-header>
                               <mat-panel-title>
                                   angular
                               </mat-panel-title>
                              
                               <mat-panel-description>
                                       Type your name and age
                                      
                                     </mat-panel-description>
                                     <mat-icon>account_circle</mat-icon>
                            </mat-expansion-panel-header>
   
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit eius, nulla consequuntur quas consectetur, quibusdam sit explicabo voluptate distinctio animi cum nam, rerum et blanditiis aut magni totam libero aspernatur.</p>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit eius, nulla consequuntur quas consectetur, quibusdam sit explicabo voluptate distinctio animi cum nam, rerum et blanditiis aut magni totam libero aspernatur.</p>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit eius, nulla consequuntur quas consectetur, quibusdam sit explicabo voluptate distinctio animi cum nam, rerum et blanditiis aut magni totam libero aspernatur.</p>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit eius, nulla consequuntur quas consectetur, quibusdam sit explicabo voluptate distinctio animi cum nam, rerum et blanditiis aut magni totam libero aspernatur.</p>
                            
                            <mat-action-row>
                                <button mat-button>MOre</button>
                                <button mat-button>MOre</button>
                            </mat-action-row>
   
   
                            
                        </mat-expansion-panel>
                    </mat-accordion>
                    <br>
                   
                    <div>
                            <mat-card class="example-card">
                                    <mat-card-header>
                                      <div mat-card-avatar class="example-header-image"></div>
                                      <mat-card-title>Shiba Inu</mat-card-title>
                                      <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                                    </mat-card-header>
                                    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                                    <mat-card-content>
                                      <p>
                                        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                                        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                                        bred for hunting.
                                      </p>
                                    </mat-card-content>
                                    <mat-card-actions>
                                      <button mat-button>LIKE</button>
                                      <button mat-button>SHARE</button>
                                    </mat-card-actions>
                                  </mat-card>
                    </div>

-->

<!--Menu-->
<!--<mat-menu #lazyMenu=matMenu>
    <ng-template matMenuContent let-name="name">
        <button mat-menu-item>settings</button>
        <button mat-menu-item>log out {{name}}</button>

    </ng-template>
</mat-menu>
<button mat-raised-button 
[matMenuTriggerData]="{name:'dalton' }" 
[matMenuTriggerFor]="lazyMenu">
dalton</button>
  
 

<a [matMenuTriggerData]="{name:'bigirimana'}" 
[matMenuTriggerFor]="lazyMenu">bigir></a>-->

<!--stepper-->
<!--<mat-horizontal-stepper linear>
<mat-step label="shipping address" completed=true >
    shipping adress detail
</mat-step>
<mat-step label="bill address" completed=false >
    <p> bill adress detail</p>
    <div>
        <button mat-button matStepperPrevious>back</button>
        <button mat-button matStepperNext>back</button>
    </div>
   
</mat-step>
<mat-step label="pricing address" completed=false   >
    <p>pricing adress</p>
</mat-step>
</mat-horizontal-stepper>
-->
<!--Input-->
<!--<mat-form-field>
    <mat-label>Topic</mat-label>
    <input matInput>
</mat-form-field>
-->

<!--<mat-form-field>
    <mat-label>TOpic</mat-label>
    <mat-select >
        <mat-option value="angular"> angular</mat-option>
        <mat-option value="react"> react</mat-option>
        <mat-option value="vue"> vue</mat-option>
    </mat-select>
</mat-form-field>-->

<!--<button mat-button (click)="openSnackBar('item deleted','Dismiss')"> Show Snack-bar</button>-->
























<!--FLEX LAYOUT TUTORIAL-->
   <!--

<div style="height: 100vh;">
    <i class="fa fa-pencil" title="Edit"></i>
    <i class="fa fa-instagram"> </i>  
        <mat-toolbar color="primary">
          
      
          <div fxShow="true" fxHide.lt-md="true">
  
            <a href="#" mat-button>Menu Item 1</a>
            <a href="#" mat-button>Menu Item 2</a>
            <a href="#" mat-button>Menu Item 3</a>
            <a href="#" mat-button>Menu Item 4</a>
            <a href="#" mat-button>Menu Item 5</a>
            <a href="#" mat-button>Menu Item 6</a>
          </div>
      
          <div fxShow="true" fxHide.gt-sm="true">
            <a href="#" (click)="sidenav.toggle()">Show Side Menu</a>
          </div>
        </mat-toolbar>
      
        <mat-sidenav-container fxFlexFill class="example-container">
          <mat-sidenav #sidenav fxLayout="column">
            <div fxLayout="column">
             
              <a href="#" mat-button>Menu Item 1</a>
              <a href="#" mat-button>Menu Item 2</a>
              <a href="#" mat-button>Menu Item 3</a>
              <a href="#" mat-button>Menu Item 4</a>
              <a href="#" mat-button>Menu Item 5</a>
              <a href="#" mat-button>Menu Item 6</a>
            </div>
          </mat-sidenav>
          <mat-sidenav-content fxFlexFill>Main content</mat-sidenav-content>
        </mat-sidenav-container>
      </div>
     
    -->