

<app-navigation></app-navigation>
                
<app-nav   ></app-nav> 
<div fxLayout="row"  fxLayout.md="column" fxLayout.sm="row"fxLayout.xs="column" fxLayoutAlign.xs="center" style="margin-top: 10%" ><!--container div-->

        
<div class="child" fxFlexOffset="3%"  fxFlexOffset.xs="3%"  >  <!--first child div-->
        <div fxLayoutAlign="center" fxLayoutAlign.xs="center"  class="online"><h1  class="cousers">Learn Online Courses</h1></div>
        <div   fxLayoutAlign="center" fxLayoutAlign.xs="center" style="margin-top: 10%"><p>Usage of the Internet is becoming more common due to</p></div>
        <div  fxLayoutAlign="center"><p> rapid advancement of technology.</p></div>  
        <div fxLayoutAlign="center" fxLayoutAlign.xs="center"   ><a   class=" learn" >Learn</a></div>

</div ><!-- end second child div-->



<div class="child" fxFlexOffset="3%" ><!--second child div-->
        <div fxLayoutAlign="center" fxLayoutAlign.xs="center" class="online" ><h1 class="cousers">Schools by Location</h1></div>
        <div  fxLayoutAlign="center" fxLayoutAlign.xs="center" style="margin-top: 10%"><p>Usage of the Internet is becoming more common due to </p></div>
        <div  fxLayoutAlign="center" fxLayoutAlign.xs="center"><p> rapid advancement of technology.</p></div>
        <div fxLayoutAlign="center" fxLayoutAlign.xs="center" ><a  class="learn" style="text-decoration: none"  routerLink="/schoolbylocation">Search</a></div>


</div><!-- end second child div-->

<div class="child"  fxFlexOffset="3%" ><!--third child div-->

        <div fxLayoutAlign="center" fxLayoutAlign.xs="center" class="online"><h1 class="cousers">Past Papers</h1></div>
        <div  fxLayoutAlign="center" fxLayoutAlign.xs="center" style="margin-top: 10%"><p>Usage of the Internet is becoming more common due to</p></div>
        <div  fxLayoutAlign="center"><p> rapid advancement of technology.</p></div>
        <div fxLayoutAlign="center" fxLayoutAlign.xs="center" ><a class="learn" >Check</a></div>


</div><!-- end third child div-->
        

</div><!--end of container div-->















<div fxLayout="column" fxLayoutGap="10px" style="margin-top:7%; "><!--div contain all wlecome div-->

        <div fxLayoutAlign="center" >   
                <h1 style="    font-size: 20px;     margin-left: -89px; font-family: auto;">Welcome to ePortal</h1> </div>
      <br>
                <div fxLayoutAlign="center">
                <p style="font-family: 'Roboto Slab', serif !important; line-height: 30px; color: #555555;margin: 0;">     This is the only place where you can reach many schools at once. <br>
                <span fxLayoutAlign="end">Not only reaching them, you can also apply directly to the preferred one(s) from here. </span> <br>
                 Your education matters, and just say Yes, because we are <span style="color: red"> The bridge to your education  .</span> <br>
                You are almost there, just sign up to navigate through the steps.</p> <br>
      </div>
       
</div><!-- end div contain all wlecome div-->







<div  fxLayout="row"fxLayout.xs="column"  fxLayoutAlign="center"  fxLayoutAlign.xs="center" fxLayoutGap="30px" style="margin-top: 20px;" ><!--contain all div-->

<div fxLayoutGap="40px"><!--contain firsts divs-->



  <div fxLayout="column" fxLayout.xs="column" class="border" fxLayoutGap="20px">
        <div fxLayoutAlign="center"> <i class="fa fa-bolt" style="font-size: 50px;opacity: 0.5;"></i></div> 
        <div fxLayoutAlign="center" ><h1 style="font-size: 20px;opacity: 0.7;">Extremely Fast</h1></div>
        <div fxLayoutAlign="center"><p style="font-family: 'Roboto Slab', serif !important;opacity: 0.5;">Everything is done through this website. Research, connection to schools,    <br> <span fxLayoutAlign="center">  and applications.  They are  just click and  done.</span> </p></div>
   </div>


  <div fxLayout="column" class="border" fxLayoutGap="20px">
   <div fxLayoutAlign="center"><i class="fa fa-shield" style="font-size: 50px;opacity: 0.5"></i></div> 
   <div fxLayoutAlign="center"><h1  style="font-size: 20px;opacity: 0.7;">Secure</h1></div>
   <div  fxLayoutAlign="center"><p style="font-family: 'Roboto Slab', serif !important;opacity: 0.5;">All of data is stored securely. We guarantee that we will never share your details to anyone  <br> <span fxLayoutAlign="center">except the ones you want  to share with.</span > </p></div>
  </div>


  <div fxLayout="column" class="border" fxLayoutGap="20px"> 
        <div fxLayoutAlign="center"><i class="fa fa-star-o " style="font-size: 50px;opacity: 0.5"></i></div> 
        <div fxLayoutAlign="center"><h1 style="font-size: 20px;opacity: 0.7;" >Efficiency</h1></div>
        <div  fxLayoutAlign="center"><p style="font-family: 'Roboto Slab', serif !important;opacity: 0.5;">With all work handled by the system for you, it's obvious that the productivity will increase. In fact, <br> <span fxLayoutAlign="center"> with ePortal, you can do the week's work in couple of minutes.</span> </p></div>
  </div>



</div><!--end of first container-->


<div  fxLayoutGap="10px"><!--contain seconds divs-->

    

    <div fxLayout="column" class="border" fxLayoutGap="20px">
            <div fxLayoutAlign="center" ><i class="fa fa-fast-forward" style=" font-size: 50px;opacity: 0.5"></i> </div> 
            <div fxLayoutAlign="center"><h1  style="font-size: 20px;opacity: 0.7;">Future</h1></div>
            <div  fxLayoutAlign="center"><p style="font-family: 'Roboto Slab', serif !important;opacity: 0.5;">For the fact that we love what we do, and we are interested in your education, we look forward <br>  <span fxLayoutALign="center">to provide a lot of  new features for your satisfaction.</span> </p></div>
    </div>

    <div fxLayout="column" class="border" fxLayoutGap="20px">
            <div fxLayoutAlign="center"><i class="fa fa-bar-chart" style="font-size: 50px;opacity: 0.5"></i></div> 
            <div fxLayoutAlign="center" ><h1 style="font-size: 20px;opacity: 0.7;"> It's all about Digital</h1></div>
            <div  fxLayoutAlign="center"><p style="font-family: 'Roboto Slab', serif !important;opacity: 0.5;">All your documents are stored digitally in the system, and there's no need to carry about the <br> <span fxLayoutALign="center">car's mass with you every time you go to school for application issues.</span> </p></div>
    </div>
    <div fxLayout="column" class="border" fxLayoutGap="20px">
        <div fxLayoutAlign="center"><i class="fa fa-bar-chart" style="font-size: 50px;opacity: 0.5"></i></div> 
        <div fxLayoutAlign="center" ><h1 style="font-size: 20px;opacity: 0.7;"> It's all about Digital</h1></div>
        <div  fxLayoutAlign="center"><p style="font-family: 'Roboto Slab', serif !important;opacity: 0.5;">All your documents are stored digitally in the system, and there's no need to carry about the <br> <span fxLayoutALign="center">car's mass with you every time you go to school for application issues.</span> </p></div>
</div>

</div><!--end of seconds div container-->





</div><!-- end of container of all divs-->




 



<!--search,schools,courses -->

<div fxLayout="column">
    <div fxLayoutAlign="center" fxLayoutAlign.xs="center"   fxLayout="row"  fxLayout.xs="column"fxLayoutGap="1%" fxLayoutGap.xs="1%" > <!--container contain  all divs-->

      <div  fxLayout="column" > <!--div contain search and schools-->
  
            <div fxLayout="row"  fxLayout.md="row" fxLayout.sm="column" fxLayout.xs="column" style="margin-top: 10%"  [formGroup]="registrationForm" > <!-- search div-->
                        
               
                <div fxLayoutAlign="center"  fxFlexOffset="20%" class="form-group" >
                <input type="search"  placeholder="search" id="allinput" required  formControlName="schoolName" class="form-control"    >
              
                
                </div>
                 
  
               
                 
                 <div fxLayoutAlign="center"  fxFlexOffset="5%" class="form-group" >
                         
                 <select id="allinput"  fxLayoutAlign="center"  formControlName="schoolOption" >
                         <option value="All Categories">All Categories</option>
                         <option value="University">University</option>
                         <option value="Secondary">Secondary</option>
                         <option value="primary">primary</option>
                         <option value="nurses">nurses</option>
                 </select>
                
                 </div>
  
                 <div fxLayoutAlign="center"  fxFlexOffset="5%">
                          <button type="submit" class="searchschool" (click)="onSubmit()" >Search</button>
                 </div>
                  
  
               
           
   
                 </div><!--end of search--> 
                 <br>
             
  
  
  
  
               <div fxLayoutAlign="end" fxLayoutAlign.xs="center" style="margin-right: -40%" fxLayout="column" fxLayout.xs="column"  fxFlexOffset="10%" fxLayoutGap="5%" fxLayoutAlign="start" ><!-- div contain allschools-->
                       <div fxLayout="row wrap" fxLayoutGap="10%"   > <!--div contain university-->
                        <mat-card class="example-card"   *ngFor="let college of university.results  | paginate: { itemsPerPage: 2, currentPage: p,  totalItems:university.results.count  }"  >
                                  
                          <img mat-card-image src="../../assets//download (3).jpeg"  style="height: 120px">
                          <mat-card-header fxLayoutAlign="center">
                                       
                                          <mat-card-title routerLink="/home/{{college.id}}">
                                            <a  target="blnk" >{{college.name}}</a> 
                                          </mat-card-title>
                                          
                                        </mat-card-header>
                          <mat-card-content>
                                 <div class="mat-body-1">{{college.description}}</div>
                          </mat-card-content>
                          <mat-divider></mat-divider>
                          <div  fxLayoutAlign="center"><!--icon-->
                            <mat-card-actions fxLayout="row" fxLayoutGap="10%"  >
                             <button  class="morebutton">more</button>
                              </mat-card-actions>
                          </div>
                         
                  </mat-card>

                       </div><!--end of div contain university-->


                       <div fxLayout="column" fxLayoutGap="10%" ><!--div contain secondary-->
                        <div fxLayout="row " fxLayout.xs="column"  fxLayoutGap="10%"><!--div contain secondary card-->

                          
                        <mat-card class="example-card"   *ngFor="let secondary of highSchool.results  | paginate: { itemsPerPage: 2, currentPage: p,  totalItems: highSchool.results.count }"  >
                                  
                          <img mat-card-image src="../../assets/download (1).jpeg"  style="height: 120px">
                          <mat-card-header fxLayoutAlign="center">
                                       
                            <mat-card-title routerLink="/home/{{secondary.id}}">
                              <a  target="blnk" >{{secondary.name}}</a> 
                            </mat-card-title>
                            
                                          
                                        </mat-card-header>
                          <mat-card-content>
                            <div class="mat-body-1">{{secondary.more_information}}</div>
                          </mat-card-content>
                          <mat-divider></mat-divider>
                          <div  fxLayoutAlign="center"><!--icon-->
                            <mat-card-actions fxLayout="row" fxLayoutGap="10%" >
                                <button class="morebutton">more</button>
                              </mat-card-actions>
                          </div>
                         
                  </mat-card>
                        </div><!--end of div contain secondary card-->
                        <div fxLayoutAlign="center"  ><!--div contain view all-->
                           <button type="submit"  id="viewMore" routerLink="/allschools">View all Schools</button>
                           
                           <div style="display: none">
                            <pagination-controls (pageChange)="p=$event" 
                           >
                         
                            </pagination-controls>
                          </div>

                        </div><!--end of div contain view all-->



                       </div><!--end of div contain secondary-->
  
               </div><!--end of school div-->
  
        
  
  
     </div> <!-- end div contain search and schools-->
  
  
  
        <div fxLayout="row " fxLayout.xs="row -wrap "    fxLayoutAlign.xs="center" >  <!--div contain courses  and scholarship-->
  
          
               <div class="courseandscholarship" fxFlexOffset="50%"  ><!--div contain course-->
                 
                                  <div class="mat-headline" style="    font-family: 'Roboto Slab', serif; font-size: 20px; font-weight: 700;color: #384158;text-align: center;font-size: 30px">courses</div>
                                  <mat-divider></mat-divider>
                                  <mat-list style="margin-top: 40%">
                               
                                 
                                   
                                    <mat-list-item  class="courser" >Art & Design>> </mat-list-item>
                                    <mat-divider></mat-divider>
                                    <mat-list-item  class="courser" style="margin-top: 10%">IT & Software>> </mat-list-item>
                                    <mat-divider></mat-divider>
                                    <mat-list-item  class="courser" style="margin-top: 7%">Business>> </mat-list-item>
                                    <mat-divider></mat-divider>
                                    <mat-list-item  class="courser" style="margin-top: 5%">Programming>> </mat-list-item>
                                   </mat-list>
                 
  
               </div><!--end of div contain course-->
  
  
               <div  class="courseandscholarship" fxFlexOffset="30px"><!--div contain scholarship -->
                  <div class="mat-headline" style="    font-family: 'Roboto Slab', serif; font-weight: 400;color: #384158;text-align: center;font-size: 30px">Scholarship</div>
                  <mat-divider></mat-divider>
  
                <div fxLayout="row" style="border: 1px solid black;margin-top: 10%;height: 20%"  ><!--div contain  contain school image and it name-->
                    
                  
                  <div fxLayoutAlign="start"><!--div contain school image-->
                    <img src="../../assets/download (1).jpeg" width="80%"height="40%" >

              </div><!--end of div contain school image-->
  
                  <div fxLayoutAlign="center"><!--div contain school name-->
                          <a>university of rwanda</a>
                   </div><!--end of div contain school name-->
                  
                 
  
                </div><!-- end of div contain school image and it name-->
              
                <div fxLayout="row"  style="border: 1px solid black;margin-top: 30%;height: 20%" ><!--div contain  contain school image and it name-->
                  <div fxLayoutAlign="start"><!--div contain school image-->
                        <img src="../../assets/download (1).jpeg" width="80%"height="40%" >
  
                  </div><!--end of div contain school image-->
  
                  <div fxLayoutAlign="center" ><!--div contain school name-->
                    <a>university of rwanda</a>
                  </div><!--end of div contain school name-->
  
          </div><!-- end of div contain school image and it name-->
          
          <div fxLayout="row" fxLayout.xs="row" style="border: 1px solid black;margin-top: 30%;height: 20%" ><!--div contain  contain school image and it name-->
                  <div fxLayoutAlign="start" fxLayoutAlign.xs="start"><!--div contain school image-->
                        <img src="../../assets/download (1).jpeg" width="80%"height="40%"  >
  
                  </div><!--end of div contain school image-->
  
                  <div fxLayoutAlign="center" fxLayoutAlign.xs="center"><!--div contain school name-->
                    <a>university of rwanda</a>
                  </div><!--end of div contain school name-->
  
          </div><!-- end of div contain school image and it name-->
  
               </div><!--end of div contain scholarship-->
  
  
  
  
  
  
        </div> <!-- end of div contain courses -->
  
  
  
  
  
  
  
      
   
  
  
  </div><!-- end of container contain  all divs-->
  
  <div fxLayoutAlign="center" fxLayoutAlign.xs="end" style="margin-top: 5%" fxLayout="column"><!--div of events-->

     <div fxLayoutAlign="center" fxLayout="column"><!--event div  title-->

      <div class="mat-title" fxLayoutAlign="center">popular online courses</div>
      <div class="mat-body-1">
         <span  fxLayoutAlign="center" >this is one of you  Lorem ipsum dolor sit amet consectetur </span> 
        <span fxLayoutAlign="center">adipisicing elit. Eius adipisci exercitationem expedita molestias facilis et at architecto iste ad, iusto dolorum rerum distinctios </span> </div>

    </div><!--end of vent div title-->

  
    <div fxLayout="row" style="margin-top: 5%"  fxLayout.xs="column" fxLayoutAlign="center"  fxLayoutAlign.xs="end" ><!-- div of events card-->

        <div  fxFlexOffset="15px"><!--card event one-->

          <mat-card class="example-cards" style="max-width: 500px">
            
              <img mat-card-image src="../../assets/images (2).jpeg" alt="Photo of a Shiba Inu" style="height: 200px">
              <mat-card-content>
                <p>
                  The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                  A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                  bred for hunting.
                </p>
              </mat-card-content>

            </mat-card>
        </div><!--end of card event one-->


        <div fxFlexOffset="15px" ><!--card event second-->

          <mat-card class="example-cards" style="max-width: 500px" >
             
              <img mat-card-image src="../../assets/images (1).jpeg" style="height: 200px">
              <mat-card-content>
                <p>
                  The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                  A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                  bred for hunting.
                </p>
              </mat-card-content>
          
            </mat-card>
        </div><!--end of card event second-->


        <div  fxFlexOffset="15px"><!--card event third-->


          <mat-card class="example-cards" style="max-width: 500px">
            
              <img mat-card-image src="../../assets/images (1).jpeg" style="height: 200px">
              <mat-card-content>
                <p>
                  The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                  A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                  bred for hunting.
                </p>
              </mat-card-content>
           
            </mat-card>
        </div><!--end of card event thirde-->




    </div><!--end of div of events card-->
  
  
      
</div><!--end of div of events-->

